# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
